* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#playing-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    height: 800px;
    margin: 0 auto;
    padding: 40px;
    background: #00512c;
}
.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    width: 230px;
    height: 300px;
    background: white;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow:  1px 1px 1px rgb(31, 31, 31), 2px 2px 2px rgb(31, 31, 31), 3px 3px 3px rgb(61, 61, 61);
}
.left {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 10%;
    margin: 6px 0 0 6px;
    font-size: 1.8em;
}
.middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 8px;
    width: 80%;
    font-size: 4.5em;
}
.middle-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100%;
}
.middle-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.middle-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100%;
}
.right {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 10%;
    margin: 0 6px 6px 0;
    font-size: 1.8em;
}

.right span {
    transform: rotate(180deg);
}
.diamonds, .hearts {
    color: red;
}