body {
    width: 50%;
    min-width: 360px;
    height: 100vh;
    margin: 0 auto;
    padding: 10vh 0;
    background-color: #1b1b32;
    font-family: Tahoma;
    font-size: 16px;
    color: #f5f6f7;
}
h1, p {
    margin: 1em auto;
    text-align: center;
}
p {
    margin-bottom: 2em;
    color: rgb(113, 201, 201);
}
form {
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    margin: 0 auto;
    padding: 0 0 2em 0;
}
fieldset {
    padding: 2rem 0;
    border: none;
    border-top: 3px solid #3b3b4f;
}
/* Afgeweken van oef, border-top gezet ipv bottom
fieldset:last-of-type {
    border-bottom: none;
}
*/
legend {
    padding: 0 8px 0 0 ;
    color: rgb(113, 201, 201);
    font-size: 1.2em;
}
label {
    display: block;
    margin: 0.5rem 0;
}
.radiolabel {
    display: inline;
    margin-right: 1.4em;
}
.inline {
    display: inline;
    width: 1.5vw;
    height: 1.4em;
    min-height: unset;
    /*vertical-align: middle;*/
}
input, textarea, select {
    min-height: 2em;
    width: 100%;
    margin: 10px 0 0 0;
    border-radius: 5px;
    /*box-shadow: inset 1px 1px 4px rgba(172, 172, 172, 0.7), inset -1px -1px 2px rgba(245, 245, 245, 0.7);*/
}
/*
.inline {
    width: unset;
    margin: 0 0.5em 0 0;
}
*/
input, textarea {
    color: #ffffff;
    background-color: #08082c;
    border: 1px solid #4b4b4e82;
}
input[type="submit"] {
    display: block;
    width: 60%;
    min-width: 300px;
    min-height: 2em;
    margin: 1em auto;
    font-size: 1.1rem;
    background-color: #25725b;
    border-color: rgb(22, 122, 107);
}
input[type="file"] {
    padding: 1px 2px;
}
a {
    color: #2f80c3;
    margin-left: 4px;
}