* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 80vw;
    min-height: calc(100vh - 100px);
    margin: 0 auto;
    padding: 50px 4%;
    padding-top: 50px;
    padding-bottom: 50px;
    
    background: rgb(66, 83, 36);
    border-right: 2px solid #cdaf13;
    border-left: 2px solid #cdaf13;
    overflow: scroll;
}
h1, h2 {
    color: rgb(16, 16, 16);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}
h1 {
    font-size: 3em;
}
h1::first-letter {
    font-size: 3.2em;
}
img {
    width: 20vw;
    min-width: 250px;
    outline: 2px solid #cdaf13; 
}
section {
    width: 90%;
}
h2 {
    font-size: 2.2em;
}
p {
    /*padding-top: 5px;*/
    width: 100%;
    color: rgb(196, 193, 193);
    font-size: 1.2rem;
    line-height: 1.2em;
}
/*
section p:first-of-type {
    color: lightyellow;
}

section p:last-of-type {
    border-top: 1px solid lightyellow;
}
    */
p:nth-of-type(odd) {
    padding-bottom: 5px;
    color: lightyellow;
    border-bottom: 1px solid lightyellow;
}  
hr {
    width: 100%;
    height: 2px;
    margin: -10px 0 30px 0;
    border: none;
    background: #cdaf13;
}