* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 24px;
}
.newspaper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
.name {
    font-family: 'Times New Roman', serif;
    font-size: 2.2em;
    text-align: center;
    text-transform: uppercase;
}
hr {
    height: 4px;
    margin: 14px auto 10px auto;
    background: rgb(76, 76, 76);
    border: none;
}
.date {
    font-size: .8em;
    font-weight: 100;
    text-align: left;
}
.date sup {
    font-size: .6em;
}
.colored-tab {
    margin: 12px 0;
    width: 170px;
    padding: 5px 0 6px 0;
    font-size: .8em;
    font-weight: 400;
    background: rgba(133, 135, 181, 0.2);
    border-radius: 16px;
}
.colored-tab span {
    margin-right: 6px;
    padding: 5px 12px 6px 12px;
    background: rgba(133, 135, 181, 0.2);
    border-radius: 16px;
}
.author {
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;
}
.subheader, article {
    width: 800px;
    margin: 40px auto 0 auto;
}
.headline {
    width: 800px;
    margin: 40px auto 0 auto;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: .95px;
}
img {
    width: 800px;
    margin: 10px auto 0 auto;
}
.rights-text {
    width: 800px;
    margin: 0 auto;
    font-size: .6em;
    font-weight: 100;
    text-align: left;
}
.sub-headline {
    width: 800px;
    margin: 6px auto 20px auto;
    font-size: 1.5em;
    font-weight: 600;
    text-align: justify;
}
.text::first-letter {
    margin-right: 1px;
    font-size: 1.4em;
    font-weight: bold;
}
.text, details p {
    margin: 20px 0;
    font-size: 1.2em;
}
q::before {
    content: "";
}
q::after {
    content: "";
}
blockquote {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 40px 0;
    padding: 0 0;
    font-weight: 600;
    background-color: rgba(0, 0, 255, 0.01);   
    border-top: 2px solid rgba(0, 0, 255, 0.05);
    border-bottom: 2px solid rgba(0, 0, 255, 0.05);
}
blockquote .quote-sign {
    width: 70px;
    height: 60px;
    margin: -30px 10px 0 30px;
    color: blue;
    font-family: Charm, sans-serif;
    font-size: 10em;
    font-style: italic;
    transform: rotateY(150deg);
}
.left-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 95%;
    margin-left: -10px;
    padding: 22px 10px 16px 0;
}
blockquote .quote {
    font-size: 1.5em;
}
blockquote cite {
    margin: 8px 0 0 0;
    color: #696969;
    font-size: 1.2em;
}
.photo-text {
    margin-top: 10px;
    font-size: 1.1em;
    letter-spacing: .1em;
}
.top-hr {
    margin-top: 50px;
}
.bottom-hr {
    margin-bottom: 40px;
}
details {
    margin: 40px 0 40px 40px;
    padding: 40px 40px;
    background-color: rgba(0, 0, 255, 0.03);
    border-left: 5px solid rgba(0, 0, 255, 0.5); 
}
details summary {
    margin-bottom: 30px;
    font-size: 1.3em;
    font-weight: 600;
}
details .text {
    text-align: justify;
    letter-spacing: 1px;
}
details summary::marker {
    content: "";
}
h3 {
    margin-top: 60px;
    font-size: 1.6em;
}
.small-hr {
    margin-top: 60px;
    height: 1px;
}
.source {
    width: 800px;
    margin: 0 auto 20px auto;
    font-family: 'Times New Roman', serif;
    font-size: .85em;
}