#email {
    width: 500px;
    margin: 50px auto;
    padding: 50px;
    border: 2px solid darkcyan;
    box-sizing: border-box;
}
#confidential {
    display: inline-block;
    padding: 8px;
    margin-left: 10px;
    border: 2px solid darkolivegreen;
    transform: rotateX(180deg);
}
#top-secret {
    display: inline-block;
    padding: 8px;
    margin-left: 20px;
    border: 2px solid darkolivegreen;
    transform: rotateY(180deg);
}
.blurred {
    filter: blur(3px);
}