.frame {
    width: 500px;
    margin: 20px auto;
    padding: 70px 60px;
    border: 30px solid rgb(115, 103, 103);
}
.canvas {
    width: 500px;
    height: 600px;
    /*padding: 1px 0 0 0;*/
    background-color: #4d0f00;
    overflow: hidden;
    /*filter: blur(2px);*/
    box-shadow: 0 0 6px 0 #4d0f00;
    transform: rotate(0.2deg);
}
.one {
    width: 425px;
    height: 150px;
    margin: 24px 35px 20px;
    background-color: #efb762;
    border-radius: 4px;
    box-shadow: 0 0 3px 3px #efb762;
    transform: rotate(-0.6deg);
}
.two {
    width: 475px;
    height: 200px;
    margin: 0 auto 16px;
    background-color: #8f0401;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 3px 3px #8f0401;
    transform: rotate(0.4deg);
}
.three {
    width: 91%;
    height: 28%;
    margin: auto;
    background-color: #b20403;
    border-radius: 10px 5px 20px 12px;
    box-shadow: 0 0 5px 5px #b20403;
    transform: rotate(-0.2deg);
    filter: blur(2px);
}
.one, .two {
    filter: blur(1px);
}