body {
     background: hsl(180, 60%, 10%);
}
h1 {
    color: rgb(225, 242, 118);
    text-align: center;
}
.container {
    max-width: 360px;
    margin: 0 auto;
    padding: 40px 0;
    background-color: rgb(131, 131, 131);
    border: 2px solid hsla(0, 0%, 7%, 0.8);
}
.marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
}
.cap, .sleeve {
    display: inline-block;
}
.cap {
    width: 60px;
    height: 25px;
}
.sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    /*
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: black;
    */
    border-left: 10px double rgba(0, 0, 0, 0.75);
    border-right: 3px solid rgba(0, 0, 0, 0.75);
}.red {
    /*background-color: red;*/
    /*background-color: rgb(255, 0, 0);*/
    background: linear-gradient( rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
}
.green {
    /*background-color: green;*/
    /*background-color: rgb(0, 255, 9);*/
    background: linear-gradient( #55680D, #71F53E, #116C31);
    box-shadow: 0 0 20px 0 #3B7E20CC;
}
.blue {
    /*background-color: blue;*/
    /*background-color: rgb(0, 0, 255);*/
    /*background-color: hsl(240, 100%, 50%);*/
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 hsla(223, 59%, 31%, 0.8);
}