* {
    box-sizing: border-box;
}
/*
.gallery {
    width: 50%;
    border: 5px solid darkolivegreen;
}
img {
    width: 100%;
    padding: 5px;
    border: 5px solid darkcyan;
}
*/
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
}
.header {
    margin: 0 auto;
    padding: 32px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: #0a0a23;
    border-bottom: 4px solid #fdb347;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    background: #28283e;
}
.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border: 3px solid #444458;
    border-radius: 10px;
}
.gallery::after {
    content: "+";
    width: 350px;
    height: 300px;
    color: white;
    font-size: 6em;
    text-align: center;
    line-height: 3em;
    background: darkgray;
    border: 3px solid #444458;
    border-radius: 10px;
}